@import "../../assets/styles/settings";
$bg-img: url('../../assets/imgs/1.png');

.excursions-wrapper {
    .excursion-content {
        width: 100%;
        height: 289px;
        background: $bg-img no-repeat;
        background-size: cover;
        background-position: center;
        padding: 80px 160px;

        h1 {
            font-size: 72px;
            color: $light;
            margin-top: 60px;
        }
    }

    height: auto;
    width: 100%;

    .bottom {
        padding: 50px 130px;
        display: grid;
        grid-template-columns: 1fr;

        .top {
            .filter-top {
                padding-top: 80px;
                width: 1120px;
                height: 260px;
                box-shadow: 5px 5px 20px gray;
                border-radius: 10px;
                text-align: center;
                margin-left: 150px;
                margin-bottom: 50px;

                .value {
                    margin-top: 50px;
                    gap: 10px;

                    div {
                        align-items: center;
                        justify-content: center;
                        display: inline-block;
                        width: 235px;
                        height: 50px;
                        box-shadow: 5px 5px 20px gray;
                        border-radius: 10px;
                        padding: 10px;

                        h4 {
                            display: inline-block;
                            padding-right: 60px;
                        }
                    }

                    .blue-btn {
                        width: 235px;
                        height: 50px;
                        @extend %blue-btn;
                        border-radius: 20px;
                    }
                }

                .text {
                    span {
                        border-bottom: 2px solid #D4D4D4;
                        padding: 0 10px;

                        &:hover {
                            border-bottom: 2px solid #0499DD;
                        }
                    }

                    span.active {
                        border-bottom: 2px solid #0499DD;
                    }
                }
            }
        }

        .mid {
            display: grid;
            grid-template-columns: 1fr 2fr;

            .left {
                width: 295px;
                height: 1018px;
                box-shadow: 5px 5px 20px gray;
                padding: 20px;
                margin-left: 150px;
                margin-top: 15px;
                border-radius: 10px;

                .top {
                    display: flex;
                    font-size: 14px;
                    font-weight: bolder;
                    color: #0499DD;
                    margin-bottom: 20px;
                    margin-left: 20px;
                }

                .price {
                    display: grid;
                    justify-content: space-between;
                    align-items: center;
                    grid-template-columns: 1fr;

                    span {
                        font-weight: bolder;
                        padding-left: 10px;

                        .line {
                            width: 16px;
                            height: 10px;
                            margin-left: 70px;
                            border-top: 2px solid #0499DD;
                        }
                    }

                    gap: 20px;

                    div {
                        input {
                            border-radius: 20px;
                            padding: 10px 20px;
                            width: 105px;
                            height: 30px;
                            color: $dark;
                        }
                    }


                }

                .place {
                    display: grid;
                    justify-content: space-between;
                    align-items: center;
                    grid-template-columns: 1fr;
                    gap: 20px;

                    span {
                        font-weight: bolder;
                        padding-left: 10px;

                        .line {
                            width: 16px;
                            height: 10px;
                            margin-left: 110px;
                            border-top: 2px solid #0499DD;
                        }
                    }
                }

                .persons {
                    display: grid;
                    justify-content: space-between;
                    align-items: center;
                    grid-template-columns: 1fr;
                    gap: 20px;

                    span {
                        font-weight: bolder;
                        padding-left: 10px;

                        .line {
                            width: 16px;
                            height: 10px;
                            margin-left: 10px;
                            border-top: 2px solid #0499DD;
                        }
                    }


                    div {
                        button {
                            width: 73px;
                            height: 30px;
                            padding: 3px 10px;
                            border-radius: 40px;
                            border: 2px solid #EDEDED;
                            background-color: #fff;
                            display: inline-block;
                            margin-bottom: 5px;

                        }

                        #last {
                            width: 149px;
                        }
                    }


                }

                .duration {
                    display: grid;
                    justify-content: space-between;
                    align-items: center;
                    grid-template-columns: 1fr;
                    gap: 20px;

                    span {
                        font-weight: bolder;
                        padding-left: 10px;

                        .line {
                            font-size: x-large;
                            margin-left: 40px;
                            color: #0499DD;
                        }
                    }

                }

                .date {
                    display: grid;
                    justify-content: space-between;
                    align-items: center;
                    grid-template-columns: 1fr;
                    gap: 20px;

                    span {
                        font-weight: bolder;
                        padding-left: 10px;

                        .line {
                            font-size: x-large;
                            margin-left: 40px;
                            color: #0499DD;
                        }
                    }

                }

                .blue-btn {
                    @extend %blue-btn;
                }

                .reset {
                    display: flex;
                    margin-top: 10px;
                    margin-right: 30px;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        display: inline;
                    }
                }
            }

        }
    }

    @media (max-width:$large) {
        .excursion-content {
            height: 510px;
            padding: 180px 90px;

            h1 {
                font-size: 48px;
            }
        }

        position: relative;

        .bottom {
            padding: 50px 130px;

            .top {
                .filter-top {
                    width: 610px;
                    height: 353px;
                    text-align: center;
                    margin-left: -40px;
                    margin-bottom: 50px;

                    .value {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        padding-left: 45px;

                        div {
                            margin-bottom: 15px;
                        }
                    }

                    .text {
                        span {
                            border-bottom: 2px solid #D4D4D4;
                            padding: 0 10px;

                            &:hover {
                                border-bottom: 2px solid #0499DD;
                            }
                        }

                        span.active {
                            border-bottom: 2px solid #0499DD;
                        }
                    }
                }
            }

            .mid {
                grid-template-columns: 1fr;

                .left {
                    position: relative;
                    width: 610px;
                    height: 690px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding-top: 50px;
                    margin-left: -45px;

                    * {
                        display: inline;
                    }

                    .top {
                        position: absolute;
                        top: 20px;
                        left: 20px;
                    }

                    .reset {
                        position: absolute;
                        bottom: 65px;
                        right: 75px;
                    }
                }

            }
        }
    }

    @media (max-width:$small) {
        .excursion-content {
            height: 370px;
            padding: 100px 20px;

            h1 {
                font-size: 36px;
            }
        }

        position: relative;

        .bottom {
            padding: 50px;

            .top {
                .filter-top {
                    width: 380px;
                    height: 480px;
                    margin-left: -30px;

                    .value {
                        display: grid;
                        grid-template-columns: 1fr;
                        padding-left: 80px;
                    }

                    .text {
                        font-size: 12px;

                        span {
                            padding: 0 8px 0 0;
                        }
                    }
                }
            }

            .mid {
                .left {
                    position: relative;
                    width: 380px;
                    height: 1018px;
                    display: block;
                    padding: 50px;
                    margin-left: -30px;

                    .reset {
                        position: absolute;
                        bottom: 85px;
                        left: 40px;
                    }
                }

            }
        }
    }

}