@import "../../../assets/styles/settings";


.values-wrapper {
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        font-size: 24px;
        font-weight: bolder;
        color: #0499DD;
    }

    .values-content {
        width: 80%;
        color: black;

        .value-item {
            margin-top: 30px;
            margin-bottom: 30px;
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 20px;
            width: 779px;
            height: 303px;
            box-shadow: 5px 5px 20px gray;
            border-radius: 10px;

            #left {
                width: 238px;
                height: 303px;
            }

            .value-info {
                padding: 30px 10px 0 0;
                position: relative;

                h5 {
                    color: $yellow-b;
                }

                h3 {
                    color: #0499DD;
                    font-size: 18px;
                    font-weight: bolder;
                    display: inline-block;
                    margin: 0 10px;
                }

                #last {
                    margin-left: 40px;
                }

                span {
                    margin-left: 10px;
                    font-size: 10px;
                    color: #282828;
                }

                .blue-btn {
                    @extend %blue-btn;
                    width: 160px;
                    height: 40px;
                }

                #p {
                    position: absolute;
                    margin-right: 5px;
                    margin-top: 20px;
                    height: 60px;
                }

                p {
                    padding-left: 15px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    font-size: 12px;
                }

                .like {
                    position: absolute;

                    img {
                        border-radius: 50%;
                    }
                }
            }

        }
    }

    @media (max-width: $large) {
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px;
            font-size: 24px;
            font-weight: bolder;
            color: #0499DD;
        }

        .values-content {
            width: 80%;
            color: black;

            .value-item {
                margin-top: 30px;
                margin-bottom: 30px;
                display: grid;
                grid-template-columns: 1fr 3fr;
                gap: 20px;
                width: 779px;
                height: 303px;
                box-shadow: 5px 5px 20px gray;
                border-radius: 10px;

                #left {
                    width: 238px;
                    height: 303px;
                }

                .value-info {
                    padding: 30px 10px 0 0;
                    position: relative;

                    h5 {
                        color: $yellow-b;
                    }

                    h3 {
                        color: #0499DD;
                        font-size: 18px;
                        font-weight: bolder;
                        display: inline-block;
                        margin: 0 10px;
                    }

                    #last {
                        margin-left: 40px;
                    }

                    span {
                        margin-left: 10px;
                        font-size: 10px;
                        color: #282828;
                    }

                    .blue-btn {
                        @extend %blue-btn;
                        width: 160px;
                        height: 40px;
                    }

                    #p {
                        position: absolute;
                        margin-right: 5px;
                        margin-top: 20px;
                        height: 60px;
                    }

                    p {
                        padding-left: 15px;
                        margin-bottom: 20px;
                        margin-top: 20px;
                        font-size: 12px;
                    }

                    .like {
                        position: absolute;

                        img {
                            border-radius: 50%;
                        }
                    }
                }

            }
        }
    }

    @media (max-width: $small) {
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px;
            font-size: 24px;
            font-weight: bolder;
            color: #0499DD;
        }

        .values-content {
            width: 80%;
            color: black;

            .value-item {
                margin-top: 30px;
                margin-bottom: 30px;
                display: grid;
                grid-template-columns: 1fr 3fr;
                gap: 20px;
                width: 779px;
                height: 303px;
                box-shadow: 5px 5px 20px gray;
                border-radius: 10px;

                #left {
                    width: 238px;
                    height: 303px;
                }

                .value-info {
                    padding: 30px 10px 0 0;
                    position: relative;

                    h5 {
                        color: $yellow-b;
                    }

                    h3 {
                        color: #0499DD;
                        font-size: 18px;
                        font-weight: bolder;
                        display: inline-block;
                        margin: 0 10px;
                    }

                    #last {
                        margin-left: 40px;
                    }

                    span {
                        margin-left: 10px;
                        font-size: 10px;
                        color: #282828;
                    }

                    .blue-btn {
                        @extend %blue-btn;
                        width: 160px;
                        height: 40px;
                    }

                    #p {
                        position: absolute;
                        margin-right: 5px;
                        margin-top: 20px;
                        height: 60px;
                    }

                    p {
                        padding-left: 15px;
                        margin-bottom: 20px;
                        margin-top: 20px;
                        font-size: 12px;
                    }

                    .like {
                        position: absolute;

                        img {
                            border-radius: 50%;
                        }
                    }
                }

            }
        }
    }


}