@import "../../assets/styles/settings";
$Rectangle13: url('../../assets/images/Rectangle13.png');
$Rectangle14: url('../../assets/images/Rectangle14.png');
$Rectangle15: url('../../assets/images/Rectangle15.png');
$Rectangle16: url('../../assets/images/Rectangle16.png');

.p-excursions-wrapper {
    margin: 10px;
    margin-top: 300px;

    .top {
        margin: 0 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 30px;

        span:first-child {
            font-size: 24px;
            font-weight: bolder;
            color: #0499DD;
        }
    }

    .values-wrapper {
        display: flex;
        justify-content: space-between;
        position: absolute;
        gap: 10px;
        margin-top: 20px;
        height: 100vh;
        width: 99%;

        .swiper {
            width: 100%;
            height: 75vh;
            gap: 20px;

            .swiper-slide {
                margin: 20px;
                background: #fff;
                display: inline-flex;

                .value-item {
                    text-align: left;
                    width: 360px;
                    .value-info {
                        padding: 230px 30px 0 30px;
                        color: $light;
                        position: relative;

                        h3 {
                            margin: 12px 0;
                            color: #FFC700;
                            size: 14px;
                        }

                        h6 {
                            display: inline;
                            justify-content: center;
                            align-items: center;
                        }

                        p {
                            font-size: x-small;
                            position: absolute;
                            bottom: 100px;
                            justify-content: center;
                            align-items: center;
                            padding: 10px 10px 0 0;
                        }

                        button {
                            @extend %blue-btn;
                            position: absolute;
                            width: 160px;
                            height: 40px;
                            bottom: 40px;
                            right: 130px;
                            justify-content: center;
                        }
                    }
                }
            }

        }
    }

    @media (max-width: $large) {
        margin-top: 180px;

        .top {
            span:first-child {
                font-size: 20px;
            }

            span:last-child {
                font-size: 15px;
            }
        }

        .values-wrapper {
            .swiper {
                .swiper-slide {
                    width: 295px;
                    margin-left: 5px;
                    margin-right: 40px;

                    .value-item {
                        .value-info {
                            width: 295px;
                            padding: 200px 30px 0 20px;

                            button {
                                right: 120px;
                            }
                        }
                    }
                }

            }
        }
    }

}