@import "../../assets/styles/settings";

.galery-wrapper {
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 30px;
        padding: 40px 130px;

        span:first-child {
            font-size: 24px;
            font-weight: bolder;
            color: #0499DD;
        }
    }

    .galery-content {
        display: flex;
        justify-content: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding: 10px 120px;

        * {
            display: inline;
        }

        img {
            padding: 7px;
        }

        div {
            padding: 0;
            margin: 0;
        }

        .left {
            display: grid;
            grid-template-columns: 1fr;

            div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 5px;
                padding: 0;

                div {
                    display: block;
                    gap: 5px;
                }
            }
        }
    }

    @media (max-width: $large) {
        .galery-content {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 10px 90px;

            #mid {
                padding: 0 90px;
            }

            .left {
                display: grid;
                grid-template-columns: 1fr;

                div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 5px;
                    padding: 0;

                    div {
                        display: block;
                        gap: 5px;
                    }
                }
            }
        }
    }

    @media (max-width: $small) {
        .galery-content {
            img {
                display: block;
                width: 100%;
            }

            div {
                display: block;
            }

            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 10px;

            #mid {
                padding: 0 90px;
            }

            .left {
                *{
                    display: block;
                }
            }
        }
    }
}