@import "../../assets/styles/settings";

#navigation-wrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 8px 170px;
    font-size: larger;
    align-items: center;
    background-color: transparent;
    top: 0;
    h1{
        margin-right: 800px;
    }
    a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 3px 8px;

        &:hover{
            color: yellow;
        }
    }
    
    @media (max-width: $large)  {
        
    }

}
